<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Resume - Md Jabed Ali</title>
      <!-- Bootstrap core CSS -->
      <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
      <link href="static/fontawesome-free/css/all.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="/static/css/resume.min.css" rel="stylesheet">
   </head>
   <body id="page-top">
      <div class="preview-bar bg-white fixed-top py-2 border-bottom-primary">
         <div class="container-fluid h-100">
            <div class="row align-items-center justify-content-between h-100">
               <!-- <div class="col">
                  <i class="fab fa-github text-github small"></i>
                  <a class="small" href="https://github.com/">GitHub</a>
               </div> 
               <div class="col d-none d-lg-block">
                  <ul class="nav responsive-toggler justify-content-center" role="tablist">
                     <li class="nav-item">
                        <a class="nav-link active show" id="desktopToggle" data-toggle="tab" href="#" role="tab" aria-selected="true">
                        <i class="fal fa-desktop"></i>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link show" id="mobileToggle" data-toggle="tab" href="#" role="tab" aria-selected="false">
                        <i class="fal fa-mobile"></i>
                        </a>
                     </li>
                  </ul>
               </div> -->
               <div class="col text-right">
                  <a href="https://github.com/" class="btn btn-primary btn-sm mr-2 d-none d-md-inline-block" onclick="if (!window.__cfRLUnblockHandlers) return false; ga('send','event','Download','click','Resume')">Source on GitHub</a>
               </div>
            </div>
         </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
         <a class="navbar-brand js-scroll-trigger" href="#page-top">
         <span class="d-block d-lg-none">Md Jabed Ali</span>
         <span class="d-none d-lg-block">
         <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/static/img/profile.jpg" alt="">
         </span>
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#about">About</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#education">Education</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#education">Personal Details</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
               </li>
               <!-- <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
               </li> -->
            </ul>
         </div>
      </nav>
      <div class="container-fluid p-0">
         <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">
               <h1 class="mb-0">Md. Jabed Ali
                  <span class="text-primary"></span>
               </h1>
               <div class="subheading mb-5">Address : 124/1, Boyra Palpara Road. Boyra, GPO-9000, Khalishpur, Khulna.
                  <br>Mobile No : 01670105219 . <br> <a href="mailto:name@email.com">Email Address : jabed.akcc@gmail.com, javed.akcc1@gmail.com </a> <br> </h2>
               </div>
               <p class="lead mb-5">To develop and discover my vision into pragmatic action, as a performance-oriented official of proper accounting track record, I want to activate
                  my "self-branding" strategy in your organization with strong and healthy confidence.
               </p>
               <div class="social-icons">
                  <a href="https://linkedin.com/in/jabedparadox">
                  <i class="fab fa-linkedin-in"></i>
                  </a>
                  <a href="https://github.com/jabedparadox">
                  <i class="fab fa-github"></i>
                  </a>
                  <a href="#">
                  <i class="fab fa-twitter"></i>
                  </a>
                  <a href="https://www.facebook.com/paradox.jabed">
                  <i class="fab fa-facebook-f"></i>
                  </a>
               </div>
            </div>
         </section>
         <hr class="m-0">
         <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
            <div class="w-100">
               <h2 class="mb-5">Experience</h2>
               <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="resume-content">
                     <h3 class="mb-0">Executive, Accounts</h3>
                     <div class="subheading mb-3">Confidence Power Bogra Ltd, Confidence Group</div>
                     <p>As part of my role as Executive, Accounts at Confidence Power Bogra Ltd, i analyze risk assessment, cash management, bill, voucher & vat tax management, 
						data analytics, reconciliation, and financial review. Where our company implementing and has recently signed a Power Purchase Agreement (PPA) with  Bangladesh
						Power Development Board (BPDB) for their HFO- powered power plant based in Bogra. </p>
                  </div>
                  <div class="resume-date text-md-right">
                     <span class="text-primary"> July 1, 2018 - September 10, 2018</span>
                  </div>
               </div>
               <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="resume-content">
                     <h3 class="mb-0">Accountant</h3>
                     <div class="subheading mb-3">REAL-IT-SOLUTIONS</div>
                     <p>As part of my role as an accountant at REAL-IT-SOLUTIONS, I analyze risk assessment, tax/vat, cash management, data analytics, and financial review. Where 
					 company provides web-development, web-security , web application, web-hosting services also offer basic/graphics design/web-design courses for everyone from
					 the home user to the professional. </p>
                  </div>
                  <div class="resume-date text-md-right">
                     <span class="text-primary">May 1, 2015 - May 30, 2018</span>
                  </div>
               </div>
               <!-- <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="resume-content">
                     <h3 class="mb-0"> </h3>
                     <div class="subheading mb-3"> </div>
                     <p> </p>
                  </div>
                  <div class="resume-date text-md-right">
                     <span class="text-primary"> </span>
                  </div>
               </div>
               <!-- <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                  <div class="resume-content">
                     <h3 class="mb-0"> </h3>
                     <div class="subheading mb-3"> </div>
                     <p> </p>
                  </div>
                  <div class="resume-date text-md-right">
                     <span class="text-primary"> </span>
                  </div> 
               </div> -->
            </div>
         </section>
         <hr class="m-0">
         <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
            <div class="w-100">
               <h2 class="mb-5">Education</h2>
               <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="resume-content">
                     <h3 class="mb-0">The Institute of Cost and Management Accountants of Bangladesh (ICMAB)</h3>
                     <div class="subheading mb-3">CMA (Cost and Management Accountants)</div>
                     <div>Cost and Management Accountants</div>
                     <p>Result : Not Yet</p>
                  </div>
                  <div class="resume-date text-md-right">
                     <span class="text-primary">January 1, 2015 - Present</span>
                  </div>
               </div>
               <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                  <div class="resume-content">
                     <h3 class="mb-0">National University of Bangladesh</h3>
                     <div class="subheading mb-3">MBS/Masters in Business Studie</div>
					 <div>Accounting</div>
                     <p>Result : 1st Class</p>
                  </div>
                  <div class="resume-date text-md-right">
                     <span class="text-primary">2012 - 2013</span>
                  </div>
               </div>
               <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                  <div class="resume-content">
                     <h3 class="mb-0">National University of Bangladesh</h3>
                     <div class="subheading mb-3">BBS/Bachelor in Business Studie</div>
					 <div>Accounting</div>
                     <p>Result : 1st Class</p>
                  </div>
                  <div class="resume-date text-md-right">
                     <span class="text-primary">2009 - 2012</span>
                  </div>
               </div>
               <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                  <div class="resume-content">
                     <h3 class="mb-0">Khulna Public College</h3>
                     <div class="subheading mb-3">HSC/Higher Secondary Certificate</div>
					 <div>Business Studies</div>
                     <p>Result : GPA 4.50</p>
                  </div>
                  <div class="resume-date text-md-right">
                     <span class="text-primary">2007 - 2008</span>
                  </div>
               </div>
               <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                  <div class="resume-content">
                     <h3 class="mb-0">Boyra Dak Bibvagia Secondary School</h3>
                     <div class="subheading mb-3">SSC/Secondary School Certificate</div>
					 <div>Business Studies</div>
                     <p>Result : GPA 3.94</p>
                  </div>
                  <div class="resume-date text-md-right">
                     <span class="text-primary">2005 - 2006</span>
                  </div>
               </div>
            </div>
         </section>
         <hr class="m-0">
         <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
            <div class="w-100">
               <h2 class="mb-5">Skills</h2>
               <div class="subheading mb-3">Accounting, Finance & Manegerial</div>
			   <div> • Finance / Accounts</div>
               <p> • Cost & Management Accounting
			   <br> • Business Analyst
               <br> • Business development
			   <br> • Financial Research
			   <br> • Internal Audit
               <br> • Administration
			   <br> • Management Research
               <br> • Accounting Software
               <br> • ERP-9/SAP/QuickBooks etc</p>
			   <div class="subheading mb-3">Programming Languages &amp; Tools</div>
               <ul class="list-inline dev-icons">
                  <li class="list-inline-item">
                     <i class="fab fa-python"></i>
                  </li>
                  <li class="list-inline-item">
                     <i class="fab fa-css3-alt"></i>
                  </li>
                  <li class="list-inline-item">
                     <i class="fab fa-js-square"></i>
                  </li>
                  <li class="list-inline-item">
                     <i class="fab fa-node-js"></i>
                  </li>
                  <li class="list-inline-item">
                     <i class="fab fa-wordpress"></i>
                  </li>
                  <li class="list-inline-item">
                     <i class="fab fa-html5"></i>
                  </li>				  
                  <li class="list-inline-item">
                     <i class="fab fa-npm"></i>
                  </li>
               </ul>
               <div class="subheading mb-3">Workflow</div>
               <ul class="fa-ul mb-0">
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Windows/Linux server
                  </li>
                  <li>
                     <i class="fa-li fa fa-check"></i>
                      Ms-Dos, Wget/Curl, Networking
                  </li>
                  <li>
                     <i class="fa-li fa fa-check"></i>
                      Mysql, Git
                  </li>
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Python Flask, Dash Development
                  </li>
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Web Scrapping (Automation)
                  </li>
                  <li>
                     <i class="fa-li fa fa-check"></i>
                     Nltk,Numpy,Panda etc (Analysing Data)
                  </li>				  
               </ul>
            </div>
         </section>
         <hr class="m-0">
         <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
            <div class="w-100">
               <h2 class="mb-5">Interests</h2>
               <p>Apart from being a accounting backend, I enjoy programming, web development, badminton, reading books also enjoy traveling & most of my time being outdoors.</p>
               <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television series , I spend a large amount of my free time exploring the latest technology advancements in the economic as well as accounting sector & web development sector.</p>
            </div>
         </section>
         <hr class="m-0">
         <!-- <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
            <div class="w-100">
               <h2 class="mb-5">Awards & Certifications</h2>
               <ul class="fa-ul mb-0">
                  <li>
                     <i class="fa-li fa fa-trophy text-warning"></i>
                     #
                  </li>
                  <li>
                     <i class="fa-li fa fa-trophy text-warning"></i>
                     #
                  </li>
                  <li>
                     <i class="fa-li fa fa-trophy text-warning"></i>
                     1<sup>st</sup>
                     #
                  </li>
                  <li>
                     <i class="fa-li fa fa-trophy text-warning"></i>
                     1<sup>st</sup>
                     #
                  </li>
                  <li>
                     <i class="fa-li fa fa-trophy text-warning"></i>
                     2<sup>nd</sup>
                     #
                  </li>
                  <li>
                     <i class="fa-li fa fa-trophy text-warning"></i>
                     1<sup>st</sup>
                     #
                  </li>
                  <li>
                     <i class="fa-li fa fa-trophy text-warning"></i>
                     3<sup>rd</sup>
                      #
                  </li>
               </ul>
            </div>
         </section> 
      </div> -->
      <!-- Bootstrap core JavaScript -->
      <script src="/static/jquery/jquery.min.js"></script>
      <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="/static/jquery-easing/jquery.easing.min.js"></script>
      <!-- Custom scripts for this template -->
      <script src="/static//js/resume.min.js"></script>
   </body>
</html>